nav#menu.default
  .container
    a(href="/")
      .logo
    ul.prima-nav
      li.prima-li
        a.prima-tc(href="") Home
          ul.second-nav
            li.second-li
              a.second-tc(href="") homepage 1
            li.second-li
              a.second-tc(href="") homepage 2
            li.second-li
              a.second-tc(href="") homepage 3
      li.prima-li
        a.prima-tc(href="") menu
        ul.second-nav
          li.second-li
            a.second-tc(href="") menu default
          li.second-li
            a.second-tc(href="") menu thumbnail
          li.second-li
            a.second-tc(href="") menu tab
      li.prima-li
        a.prima-tc(href="") about us
      li.prima-li
        a.prima-tc(href="") book
      li.prima-li
        a.prima-tc(href="") events
      li.prima-li
        a.prima-tc(href="") blog
      li.prima-li
        a.prima-tc(href="") contanct
    .bar-mobile