#main-slider
  .fullwidthbanner-container
    .fullwidthbanner
      ul
        li(data-transition="random-premium" data-slotamount="7", data-bgposition="center center" )
          img(src="src/img/slide-1.jpg", alt="", data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="140")
          .caption.style-1.lft(data-x="center" data-y="center" data-speed="700"  data-voffset="-50" data-start="1000" data-easing="easeOutBack")
            h3.heading Make your reserveration
            p.excerpt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus atque repellat eum quaerat quod placeat! Ducimus quos eius amet iure dolores numquam, exercitationem error, deleniti rerum, molestiae incidunt reiciendis! Harum.
          .caption.lfb(data-x="center" data-y="center" data-speed="700" data-voffset="50" data-start="1300" data-easing="easeOutBack")
            a.button(href="google.com") book now
            a.button(href="google.com") view menu
        li(data-transition="random-premium" data-slotamount="7")
          img(src="src/img/slide-2.jpg", alt="", data-bgposition="center center" data-kenburns="on" 
              data-duration="20000" 
              data-ease="Linear.easeNone" 
              data-bgfit="120" 
              data-bgfitend="100")
          .caption.style-1.lft(data-x="center" data-y="center" data-speed="700"  data-voffset="-50" data-start="1000" data-easing="easeOutBack")
            h3.heading exquisite atmosphere
            p.excerpt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque sapiente numquam impedit illum quaerat qui eligendi aspernatur quisquam voluptas enim, architecto at alias voluptatum molestias libero magnam blanditiis. Quo.
          .caption.lfb(data-x="center" data-y="center" data-speed="700" data-voffset="50" data-start="1300" data-easing="easeOutBack")
            a.button(href="google.com") book now
            a.button(href="google.com") view menu