//build:css css/vendor.min.css
link(rel="stylesheet", href="src/css/owl.carousel.css")
link(rel="stylesheet", href="src/css/odometer-theme-car.css")
link(rel="stylesheet", href="src/css/animate.min.css")
link(rel="stylesheet", href="src/css/settings.css")
link(rel="stylesheet", href="src/css/magnific-popup.css")
//endbuild
